.title {
  text-align: center;
}

h1 {
  font-size: 45px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 54px;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 18px;
}

.line {
  left: 85px;
  bottom: 3vh;
  position: relative;
  width: 1045px;
  height: 1px;
  background-color: black;
  opacity: 10%;
}

.grid {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 50px;
  margin: 0 85px;
  gap: 170px;

  @media screen and (max-width: 1625px) {    
    grid-template-columns: 1fr;
  }
}

.container {
  h1 {
    font-size: 22px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding: 30px 0 10px 0;
  }

  h2 {
    font-size: 24px;
    font-weight: 900;
    padding-top: 25px;
  }

  p {
    margin: 0 70px;
    padding-top: 20px;
    font-size: 18px;
    line-height: 35px;
    padding-bottom: 25px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF9F9;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  .profil_image {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 34px;
    height: max-content;
    width: 50%;
  }
}

.container_life {
  h1 {
    padding: 30px 0;
    font-size: 22px;
    text-transform: uppercase;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF9F9;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: fit-content;
}

.container_coding {
  h1 {
    padding: 30px 0;
    font-size: 22px;
    text-transform: uppercase;
  }

  margin: 0 85px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF9F9;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: fit-content;
}

.proglangs {
  h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .proglang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  display: flex;
  column-gap: 100px;
}

@media screen and (max-width: 1625px) {
  .line {
    display: none;
  }

  .proglangs {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .proglang {
    h2 {
      font-size: 40px;
    }
  }
}

/// Caroussel

$size-width: 850px;
$size-height: 460px;

.carousel-container {
  width: $size-width;
  height: $size-height;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 50px;

}

$image-number: 4;

.carousel {
  display: flex;
  width: $size-width * 4;
  animation: sliding 24s infinite;
  div {
    width: $size-width;
    height: $size-height;
    background-size: cover;
    background-position: center;
  }
  &:hover {
    animation-play-state: paused;
  }
  .image-one {
    background-image: url("https://cdn.discordapp.com/attachments/779543203539189790/933602192961716285/IMG_1508.jpg");
    background-size: 900px;
    background-position-y: -35px;
    border-radius: 20px;
  }
  .image-two {
    background-image: url("https://cdn.discordapp.com/attachments/779543203539189790/933889246111080468/IMG_5804.jpg");
    border-radius: 20px;
  }
  .image-three {
    background-image: url("https://cdn.discordapp.com/attachments/779543203539189790/933889270630998096/9D0DC8D6-C83D-45D8-9932-1A9D462F9EA7.jpg");
    border-radius: 20px;
    background-size: 850px;
    background-position-y: -30px;
  }
  .image-four {
    background-image: url("https://lh3.googleusercontent.com/tX8ijPvZvVTloPoLLkWlpW9hIxagoGcqh2wvTzC5YBVe0iJilXJFXE3zMt7pd8Vshve_wzWTxNu247XKUkrGyV0BworYTBjFSldpXBL6klHuVt3CAe1xzHC_utFUaKDXrnAgNNYzCFnzYkeqk8zKw1jbYEdOORh4YXQbz_vE9rgzEo0LuZejVfhIpDjwABAqUTAIsVqArw-yYjBIhjvbWFxVsDVHiOysA-fOUnwpFwA9DZl-UnTWy2krr0mpYvIYUWfOB-4x5KWravbUGW7IY8U_swixXkBEXZCjXZirjcfz-ZWjU8wDBj72TIOyNeGkYtVBXcAuinmBUsISP_qmE7uejCE_FqzJk-Euz2q3OOSN54UkrHAkXn_C73xsRqHATrBiIx7auw0xsGiNWF8N7p0M2RXbgu-0n6GJGFVMOkhh3lUIzoT61UfvrjFXtYmNoYfe4-2MLSoFYq2C_UFlFNrH7CY_mVEljBE-sqNz100wNhlFjBtXw-zDjEx93Nlh16AO8TTCwtkjhOXvTGEhiK8mAL80F22SknbLO4VFCNp09xQfTj8ljW2rqUCX28PM0b-8GQDUowfM1R5ja814r2xghtxBgSAT9477U26TW8xY9iA_kVp5S40louKJ3tmkiKYc9dBRwF2Y17a65Tc1xlHsE0vHkIuwdCQvgxn0bjzN7s6VPfQAWq09Bog0Z1mxvWazk8Lzr1xFge-fCpx2480q=w1255-h941-no?authuser=0");
    border-radius: 20px;
  }


}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-$size-width);
  }
  65% {
    transform: translateX(-$size-width);
  }
  70% {
    transform: translateX(-$size-width * 2);
  }
  98% {
    transform: translateX(-$size-width * 2);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1070px) {
  $size-width: 650px;

  .carousel-container {
    width: $size-width;
    height: $size-height;
  }

  .carousel {
    width: $size-width * $image-number;
    > div {
      width: $size-width;
      height: $size-height;
    }
  }

  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-$size-width);
    }
    65% {
      transform: translateX(-$size-width);
    }
    70% {
      transform: translateX(-$size-width * 2);
    }
    98% {
      transform: translateX(-$size-width * 2);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 850px) {
  $size-width: 500px;
  $size-height: 350px;

  .carousel-container {
    width: $size-width;
    height: $size-height;
  }

  .carousel {
    width: $size-width * $image-number;
    > div {
      width: $size-width;
      height: $size-height;
    }
  }

  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-$size-width);
    }
    65% {
      transform: translateX(-$size-width);
    }
    70% {
      transform: translateX(-$size-width * 2);
    }
    98% {
      transform: translateX(-$size-width * 2);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 700px) {
  $size-width: 350px;
  $size-height: 250px;

  .carousel-container {
    width: $size-width;
    height: $size-height;
  }

  .carousel {
    width: $size-width * $image-number;
    > div {
      width: $size-width;
      height: $size-height;
    }
  }

  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-$size-width);
    }
    65% {
      transform: translateX(-$size-width);
    }
    70% {
      transform: translateX(-$size-width * 2);
    }
    98% {
      transform: translateX(-$size-width * 2);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 535px) {
  $size-width: 230px;
  $size-height: 150px;

  .carousel-container {
    width: $size-width;
    height: $size-height;
  }

  .carousel {
    width: $size-width * $image-number;
    > div {
      width: $size-width;
      height: $size-height;
    }
  }

  select {
    display: none;
  }

  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-$size-width);
    }
    65% {
      transform: translateX(-$size-width);
    }
    70% {
      transform: translateX(-$size-width * 2);
    }
    98% {
      transform: translateX(-$size-width * 2);
    }
    100% {
      transform: translateX(0);
    }
  }
}


